
  <body class="background-image">
  <br/><br/><br/>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">



      </div>
      <div class="col-8">

        <div class="intro">
          <div class="intro-text text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">CovidStat</span>
            </h2>
            <p class="mb-3">CovidStat ir modernā web aplikācija, kas aktualizē un vizualizē datu sakarības, saistībā ar COVID19 vakcināciju Latvijā, vieglākai datu analīzei. Statistikas veidošanai tiek izmantoti reālie dati no atvērto datu portāliem, kas regulāri tiek atjaunināti.</p>
              <br/>
            <%= link_to 'Skatīties statistiku!', home_index_path, class: "btn btn-primary btn-xl" %>
          </div>
        </div>

      </div>
      <div class="col-4">



      </div>
    </div>
  </div>


  </body>





